//@import "bourbon";
@import "mixins";
@import "vars";
@import "resource/grid-1200-12";

.atla {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
  	@include frame(153, 243, 153, 0.8);
}
.atlatxt {
	height: 100%;
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, #76E576 100%, #99f399 100%);
	text-align: center;
	text-transform: uppercase;
}
.flex-con {
	margin: 1% 10% 2% 10%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.flexli {
	margin: 0 30px 0 0;
	padding: 0 5px;
	max-width: 190px;
	@include frame(255, 255, 255, 1.0);
	border-radius: 10px;
	text-transform: uppercase;
	.img {
		margin: 0 auto;
		width: 100%;
	}
}
.monotxt {
	width: 80%;
	margin: 1% 10% 2% 10%;
	padding: 1% 0;
	@include frame(255, 255, 255, 1.0);
	border-radius: 10px;
	h4 {
		padding: 0 0 0 5%;
		text-transform: uppercase;
		color: $mcol-2;
	}
}
.imp {
	@extend .atla;
		@include frame(170, 233, 254, 0.8);
}
.imptxt {
	@extend .atlatxt;
   background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3)0%, #4FD3FC 100%, #aae9fe 100%);
}
.uslovia {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	@include frame(249, 243, 180, 0.8);
	span {
	padding: 0 0 0 11%;
	color: $mcol-1;
}
}




