//@import "bourbon";
//@import "mixins";
//@import "vars";
@import "resource/grid-1800-12";

.cont {
	background-color: #C2FB97;
	padding: 10px 10px;
}
.row {
	@include row-flex();
	@include justify-content(center);
	border: 5px solid #fff;
}
.item {
	@include col-slg-3();
	@include col-lg-3();
	@include col-md-4();
	@include col-sm-6();
	@include col-xs-8();
	//min-width: 300px;
	text-align: center;
	//flex-grow: 1;
	margin: 10px 10px;
	padding: 10px 10px;
	background: #277C31; 
	border: 3px solid #fff;
	border-radius: 20px;
	&_text {
		color: #00FFED;
	}
	p {
		text-transform: uppercase;
		color: #CBFF9E;
	}
}


