
@media screen and (min-width: 1200px) {
  a {
    text-decoration: none;
    font-family: $font-2;
    color: #D1076;
    background-color: #fff;
      &:hover, &:focus, &:active {
        color: $mcol-1;
        text-decoration: underline;
    }}
}
