
@media screen and (max-width: 1800px) {
  a {
  	display: inline-block;
  	background-color: #FEF9C1;
    color: #CA3456;
  	font: 24px bold;
  	&:hover {
  		background-color: #000;
      color: #fff;
  	}
  }
}
