@import "vars";
@mixin fonts ($col, $ff, $fs, $fw, $lh) {
	color: $col;
	font-family: $ff;
	font-size: $fs;
	font-weight: $fw;
	line-height: $lh;
}

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
    url($file-name + '.woff') format('woff'),
    url($file-name + '.ttf')  format('truetype'),
    url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin frame($a,$b,$c, $clear) {
    border: 1px solid #EDEDED;
    background-color: rgba($a,$b,$c, $clear);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5), inset 0 0 50px rgba(255, 255, 255, 0);
} 