svg-1 {
	background: url("sprite.svg") 0 0 no-repeat;
	width: 328.88px;
	height: 317.47px;
}

svg-2 {
	background: url("sprite.svg") 0 37.88781394462184% no-repeat;
	width: 161.8px;
	height: 134.68px;
}

svg-3 {
	background: url("sprite.svg") 0 74.81420313790257% no-repeat;
	width: 368.5px;
	height: 368.5px;
}

svg-4 {
	background: url("sprite.svg") 0 99.97689098626837% no-repeat;
	width: 131.82px;
	height: 151.81px;
}

